.container {
  display:grid;
  grid-template-rows: 100px auto 90px;
  grid-template-columns: 180px 1fr 160px; 
}


header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding: 10px;
  margin: 0px;
  background-color: green;
}

main {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
  padding: 20px;
  background-color: skyblue;
}

leftsidebar {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}

rightsidebar {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  background-color: red;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;  
}

.underline {
  text-decoration: underline;
}

h2 {
  border-left :solid 5px darkcyan;
  background-color: lightcyan;
  border-bottom: solid 3px gray;
  padding: 10px;
}

h3 {
  color: #364e96;
  padding: 0.5em 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

div {
  
}
