.container {
  display:grid;
  grid-template-rows: 100px auto 90px;
  grid-template-columns: 150px 1fr 300px; 
}


header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding: 10px;
  margin: 0px;
  background-color: green;
}

main {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
  padding: 20px;
  background-color: skyblue;
}

leftsidebar {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}

rightsidebar {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  background-color: red;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;  
}

.underline {
  text-decoration: underline;
}

h2 {
  border-left :solid 5px darkcyan;
  background-color: lightcyan;
  border-bottom: solid 3px gray;
  padding: 10px;
}

h3 {
  color: #364e96;
  padding: 0.5em 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
  background-color: white;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.talkbox {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.talkbox.left {
  display: flex;
  flax-direction: row;
}

.talkbox.right {
  display: flex;
  flax-direction: row-reverse;
}

.talk-boxleft {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #ececec;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #000000;
}

.talk-boxleft::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 7.5px 15px 7.5px 0;
  border-color: transparent #ececec transparent transparent;
  translate: -100% -50%;
  transform: skew(0, 1deg);
  transform-origin: right;
}

.talk-boxright {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #ececec;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #000000;
}

.talk-boxright::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 15px;
  border-color: transparent transparent transparent #ececec;
  translate: 100% -50%;
  transform: skew(0, 1deg);
  transform-origin: left;
}
