.container {
  display:grid;
  grid-template-rows: 100px auto 90px;
  grid-template-columns: 150px 1fr 300px; 
}


header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding: 10px;
  margin: 0px;
  background-color: green;
}

main {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
  padding: 20px;
  background-color: skyblue;
}

leftsidebar {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}

rightsidebar {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  background-color: red;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;  
}

.underline {
  text-decoration: underline;
}

h2 {
  border-left :solid 5px darkcyan;
  background-color: lightcyan;
  border-bottom: solid 3px gray;
  padding: 10px;
}

h3 {
  color: #364e96;
  padding: 0.5em 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
  background-color: white;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.talk-boxleft {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 16px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: #e2feff;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

.talk-boxleft::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #000000 transparent transparent;
  translate: -50% 100%;
  transform: skew(-25deg);
  transform-origin: top;
}

.talk-boxleft::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  border-style: solid;
  border-width: 15.2px 15.2px 0 0;
  border-color: #e2feff transparent transparent;
  translate: calc(-50% - 0.4px) 100%;
  transform: skew(-25deg);
  transform-origin: top;
}
